compactor:
  compaction:
    block_retention: {{ .GlobalRetention }}
  ring:
    kvstore:
      store: memberlist
distributor:
  receivers:
    jaeger:
      protocols:
        thrift_http:
          endpoint: 0.0.0.0:14268
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318
  ring:
    kvstore:
      store: memberlist
ingester:
  lifecycler:
    ring:
      kvstore:
        store: memberlist
      replication_factor: 1
    tokens_file_path: /var/tempo/tokens.json
  max_block_duration: 10m
memberlist:
  abort_if_cluster_join_fails: false
  join_members:
  {{- range .MemberList }}
  - {{ . }}
  {{- end }}
metrics_generator_enabled: false
multitenancy_enabled: false
{{- if or
  .GlobalRateLimits.IngestionBurstSizeBytes
  .GlobalRateLimits.IngestionRateLimitBytes
  .GlobalRateLimits.MaxTracesPerUser
  .GlobalRateLimits.MaxBytesPerTrace
  .GlobalRateLimits.MaxBytesPerTagValues
  .GlobalRateLimits.MaxSearchBytesPerTrace
  .TenantRateLimitsPath
}}
overrides:
{{- if .GlobalRateLimits.IngestionBurstSizeBytes }}
  ingestion_burst_size_bytes: {{ .GlobalRateLimits.IngestionBurstSizeBytes }}
{{- end }}
{{- if .GlobalRateLimits.IngestionRateLimitBytes }}
  ingestion_rate_limit_bytes: {{ .GlobalRateLimits.IngestionRateLimitBytes }}
{{- end }}
{{- if .GlobalRateLimits.MaxTracesPerUser }}
  max_traces_per_user: {{ .GlobalRateLimits.MaxTracesPerUser }}
{{- end }}
{{- if .GlobalRateLimits.MaxBytesPerTrace }}
  max_bytes_per_trace: {{ .GlobalRateLimits.MaxBytesPerTrace }}
{{- end }}
{{- if .GlobalRateLimits.MaxBytesPerTagValues }}
  max_bytes_per_tag_values_query: {{ .GlobalRateLimits.MaxBytesPerTagValues }}
{{- end }}
{{- if .GlobalRateLimits.MaxSearchBytesPerTrace }}
  max_search_bytes_per_trace: {{ .GlobalRateLimits.MaxSearchBytesPerTrace }}
{{- end }}
{{- if .TenantRateLimitsPath }}
  per_tenant_override_config: {{ .TenantRateLimitsPath }}
{{- end }}
{{- end }}
querier:
  frontend_worker:
    frontend_address: {{ .QueryFrontendDiscovery }}
search_enabled: true
server:
  grpc_server_max_recv_msg_size: 4194304
  grpc_server_max_send_msg_size: 4194304
  http_listen_port: 3100
  http_server_read_timeout: 3m
  http_server_write_timeout: 3m
  log_format: logfmt
  log_level: debug
storage:
  trace:
    backend: s3
    blocklist_poll: 5m
    cache: none
    s3:
      endpoint: {{ .S3.Endpoint }}
      bucket: {{ .S3.Bucket }}
      insecure: {{ .S3.Insecure }}
    local:
      path: /var/tempo/traces
    wal:
      path: /var/tempo/wal
usage_report:
  reporting_enabled: false
