compactor:
  compaction:
    block_retention: {{ .GlobalRetention }}
  ring:
    kvstore:
      store: memberlist
distributor:
  receivers:
{{- if not .Gateway }}
    jaeger:
      protocols:
        thrift_http:
          endpoint: 0.0.0.0:14268
        thrift_binary:
          endpoint: 0.0.0.0:6832
        thrift_compact:
          endpoint: 0.0.0.0:6831
        grpc:
          endpoint: 0.0.0.0:14250
    zipkin:
{{- end }}
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
{{- if and .Gates.GRPCEncryption .Gateway }}
          tls:
            client_ca_file:  {{ .TLS.Paths.CA }}
            cert_file: {{ .TLS.Paths.Certificate }}
            key_file: {{ .TLS.Paths.Key }}
            min_version: {{ .TLS.Profile.MinTLSVersionShort }}
{{- end }}
{{- if not .Gateway }}
        http:
          endpoint: 0.0.0.0:4318
{{- end }}
  ring:
    kvstore:
      store: memberlist
ingester:
  lifecycler:
    ring:
      kvstore:
        store: memberlist
      replication_factor: {{ .ReplicationFactor }}
    tokens_file_path: /var/tempo/tokens.json
  max_block_duration: 10m
memberlist:
  abort_if_cluster_join_fails: false
  join_members:
  {{- range .MemberList }}
  - {{ . }}
  {{- end }}
multitenancy_enabled: {{ .Multitenancy }}
{{- if or
  .GlobalRateLimits.IngestionBurstSizeBytes
  .GlobalRateLimits.IngestionRateLimitBytes
  .GlobalRateLimits.MaxTracesPerUser
  .GlobalRateLimits.MaxBytesPerTrace
  .GlobalRateLimits.MaxBytesPerTagValues
  (ne .GlobalRateLimits.MaxSearchDuration "0s")
  .TenantRateLimitsPath
}}
overrides:
{{- if .GlobalRateLimits.IngestionBurstSizeBytes }}
  ingestion_burst_size_bytes: {{ .GlobalRateLimits.IngestionBurstSizeBytes }}
{{- end }}
{{- if .GlobalRateLimits.IngestionRateLimitBytes }}
  ingestion_rate_limit_bytes: {{ .GlobalRateLimits.IngestionRateLimitBytes }}
{{- end }}
{{- if .GlobalRateLimits.MaxTracesPerUser }}
  max_traces_per_user: {{ .GlobalRateLimits.MaxTracesPerUser }}
{{- end }}
{{- if .GlobalRateLimits.MaxBytesPerTrace }}
  max_bytes_per_trace: {{ .GlobalRateLimits.MaxBytesPerTrace }}
{{- end }}
{{- if .GlobalRateLimits.MaxBytesPerTagValues }}
  max_bytes_per_tag_values_query: {{ .GlobalRateLimits.MaxBytesPerTagValues }}
{{- end }}
{{- if ne .GlobalRateLimits.MaxSearchDuration "0s" }}
  max_search_duration: {{ .GlobalRateLimits.MaxSearchDuration }}
{{- end }}
{{- if .TenantRateLimitsPath }}
  per_tenant_override_config: {{ .TenantRateLimitsPath }}
{{- end }}
{{- end }}
querier:
  max_concurrent_queries: {{ .Search.MaxConcurrentQueries }}
  frontend_worker:
    frontend_address: {{ .QueryFrontendDiscovery }}
{{- if .Gates.GRPCEncryption }}
    grpc_client_config:
      tls_enabled: true
      tls_cert_path:  {{ .TLS.Paths.Certificate }}
      tls_key_path: {{ .TLS.Paths.Key }}
      tls_ca_path: {{ .TLS.Paths.CA }}
      tls_server_name: {{ .TLS.ServerNames.QueryFrontend }}
      tls_cipher_suites: {{ .TLS.Profile.Ciphers }}
      tls_min_version: {{ .TLS.Profile.MinTLSVersion }}
{{- end }}
  search:
{{- if .Search.QueryTimeout }}
    query_timeout: {{ .Search.QueryTimeout }}
{{- end }}
{{- if .Search.ExternalHedgeRequestsAt }}
    external_hedge_requests_at: {{ .Search.ExternalHedgeRequestsAt }}
{{- end }}
{{- if .Search.ExternalHedgeRequestsUpTo }}
    external_hedge_requests_up_to: {{ .Search.ExternalHedgeRequestsUpTo }}
{{- end }}
{{- if .Gates.HTTPEncryption }}
internal_server:
  enable: true
  http_listen_address: ""
  tls_cipher_suites: {{ .TLS.Profile.Ciphers }}
  tls_min_version: {{ .TLS.Profile.MinTLSVersion }}
  http_tls_config:
    cert_file: {{ .TLS.Paths.Certificate }}
    key_file: {{ .TLS.Paths.Key }}
{{- end }}
server:
  grpc_server_max_recv_msg_size: 4194304
  grpc_server_max_send_msg_size: 4194304
  http_listen_port: 3200
  http_server_read_timeout: 3m
  http_server_write_timeout: 3m
  log_format: logfmt
{{- if or .Gates.GRPCEncryption .Gates.HTTPEncryption }}
  tls_cipher_suites: {{ .TLS.Profile.Ciphers }}
  tls_min_version: {{ .TLS.Profile.MinTLSVersion }}
{{- end }}
{{- if .Gates.GRPCEncryption }}
  grpc_tls_config:
    cert_file:  {{ .TLS.Paths.Certificate }}
    key_file: {{ .TLS.Paths.Key }}
    client_ca_file: {{ .TLS.Paths.CA }}
    client_auth_type: RequireAndVerifyClientCert
{{- end }}
{{- if .Gates.HTTPEncryption }}
  http_tls_config:
    cert_file:  {{ .TLS.Paths.Certificate }}
    key_file: {{ .TLS.Paths.Key }}
    client_ca_file: {{ .TLS.Paths.CA }}
    client_auth_type: RequireAndVerifyClientCert
{{- end }}
storage:
  trace:
    backend: {{ .StorageType }}
    blocklist_poll: 5m
    cache: none
    {{- with .StorageParams.AzureStorage }}
    azure:
      container_name: {{ .Container }}
    {{- end }}
    {{- with .StorageParams.GCS }}
    gcs:
      bucket_name: {{ .Bucket }}
    {{- end }}
    {{- with .StorageParams.S3 }}
    s3:
      endpoint: {{ .Endpoint }}
      bucket: {{ .Bucket }}
      insecure: {{ .Insecure }}
      {{- if .TLSCAPath }}
      tls_ca_path: {{ .TLSCAPath }}
      {{- end }}
    {{- end }}
    local:
      path: /var/tempo/traces
    wal:
      path: /var/tempo/wal
usage_report:
  reporting_enabled: false
query_frontend:
  search:
{{- if .Search.ConcurrentJobs }}
    concurrent_jobs: {{ .Search.ConcurrentJobs }}
{{- end }}
{{- if .Search.MaxDuration }}
    max_duration: {{ .Search.MaxDuration }}
{{- end }}
{{- if .Search.DefaultResultLimit }}
    default_result_limit: {{ .Search.DefaultResultLimit }}
{{- end }}
{{- if .Search.MaxResultLimit }}
    max_result_limit: {{ .Search.MaxResultLimit }}
{{- end }}
{{- if .Gates.GRPCEncryption }}
ingester_client:
  grpc_client_config:
    tls_enabled: true
    tls_cert_path:  {{ .TLS.Paths.Certificate }}
    tls_key_path: {{ .TLS.Paths.Key }}
    tls_ca_path: {{ .TLS.Paths.CA }}
    tls_server_name: {{ .TLS.ServerNames.Ingester }}
    tls_insecure_skip_verify: false
    tls_cipher_suites: {{ .TLS.Profile.Ciphers }}
    tls_min_version: {{ .TLS.Profile.MinTLSVersion }}
{{- end }}
