apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    app.kubernetes.io/managed-by: operator-lifecycle-manager
    app.kubernetes.io/name: tempo-operator
    app.kubernetes.io/part-of: tempo-operator
    control-plane: controller-manager
  name: tempo-operator-controller-manager-prometheus-rule
spec:
  groups:
  - name: tempooperator_alerts
    rules:
    - alert: TempoOperatorFailedUpgrade
      annotations:
        message: Tempo Operator failed to upgrade {{ $value }} TempoStack instance(s).
        runbook_url: https://github.com/grafana/tempo-operator/blob/main/operations/runbook.md#TempoOperatorFailedUpgrade
      expr: |
        tempooperator_failed_upgrades_total > 0
      labels:
        severity: warning
    - alert: TempoOperatorReconcileError
      annotations:
        message: Tempo Operator failed to reconcile.
        runbook_url: https://github.com/grafana/tempo-operator/blob/main/operations/runbook.md#TempoOperatorReconcileError
      expr: |
        increase(controller_runtime_reconcile_errors_total{service="tempo-operator-controller-manager-metrics-service"}[15m]) > 0
      for: 15m
      labels:
        severity: warning
    - alert: TempoOperatorReconcileDurationHigh
      annotations:
        message: Tempo Operator reconciliation takes longer than 10 minutes on average
          ({{ $value | humanizeDuration }}).
        runbook_url: https://github.com/grafana/tempo-operator/blob/main/operations/runbook.md#TempoOperatorReconcileDurationHigh
      expr: |
        rate(controller_runtime_reconcile_time_seconds_sum{service="tempo-operator-controller-manager-metrics-service"}[5m])
        / rate(controller_runtime_reconcile_time_seconds_count{service="tempo-operator-controller-manager-metrics-service"}[5m])
        > 600
      for: 10m
      labels:
        severity: warning
    - alert: TempoStackUnhealthy
      annotations:
        message: TempoStack {{ $labels.stack_name }}/{{ $labels.stack_namespace }}
          is in {{ $labels.condition }} state.
        runbook_url: https://github.com/grafana/tempo-operator/blob/main/operations/runbook.md#TempoCompactorUnhealthy
      expr: |
        tempostack_status_condition{condition=~"Degraded|Failed"} == 1
      for: 5m
      labels:
        severity: critical
