name: "Continuous Integration"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "basic checks"
        run: make ci

      - name: "upload coverage report"
        uses: codecov/codecov-action@v3
        with:
          files: cover.out
          flags: unittests
          name: codecov-tempo-operator
          fail_ci_if_error: false
          verbose: true

  security:
    name: Security
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: go

      - name: Autobuild
        uses: github/codeql-action/autobuild@v2

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

  lint:
    name: Code standards (linting)
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          args: -v
          version: v1.52.2
