name: "Publish test utils image"

on:
  push:
    paths:
      - 'tests/Dockerfile.utils'
      - '.github/workflows/publish-test-utils-image.yaml'
    branches:
      - main
  pull_request:
    paths:
      - 'tests/Dockerfile.utils'
      - '.github/workflows/publish-test-utils-image.yaml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

jobs:
  test-utils:
    runs-on: ubuntu-22.04
    permissions:
      packages: write # push container image

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ github.repository }}/test-utils

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to GitHub Package Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 #v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 #v6.18.0
        with:
          context: tests/
          file: tests/Dockerfile.utils
          platforms: linux/arm64,linux/amd64,linux/s390x,linux/ppc64le
          push: ${{ github.event_name == 'push' }}
          tags: ${{ steps.meta.outputs.tags }}
