name: "Publish test utils image"

on:
  push:
    paths:
      - 'tests/Dockerfile.utils'
      - '.github/workflows/publish-test-utils-image.yaml'
    branches:
      - main
  pull_request:
    paths:
      - 'tests/Dockerfile.utils'
      - '.github/workflows/publish-test-utils-image.yaml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

jobs:
  test-utils:
    runs-on: ubuntu-22.04
    permissions:
      packages: write # push container image

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: ghcr.io/${{ github.repository }}/test-utils

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to GitHub Package Registry
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 #v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 #v6.18.0
        with:
          context: tests/
          file: tests/Dockerfile.utils
          platforms: linux/arm64,linux/amd64,linux/s390x,linux/ppc64le
          push: ${{ github.event_name == 'push' }}
          tags: ${{ steps.meta.outputs.tags }}
