name: "Prepare the release"
on:
  push:
    tags: [ 'v*' ]

jobs:
  release:
    runs-on: ubuntu-20.04
    steps:
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: "1.20"

    - uses: actions/checkout@v3

    - name: "generate release resources"
      run: make release-artifacts IMG_PREFIX=ghcr.io/${{ github.repository }}

    - name: "create the release in GitHub"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        OPERATOR_VERSION=$(git describe --tags | sed 's/^v//')
        awk '/^## / {v=$2} v == "'${OPERATOR_VERSION}'" && !/^## / {print}' CHANGELOG.md > RELEASE_NOTES.md
        gh release create \
            -t "Release v${OPERATOR_VERSION}" \
            -F RELEASE_NOTES.md \
            "v${OPERATOR_VERSION}" \
            'dist/tempo-operator.yaml#Installation manifest for Kubernetes' \
