name: "Prepare the release"
on:
  push:
    tags: [ 'v*' ]

jobs:
  release:
    runs-on: ubuntu-20.04
    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: "1.20"

    - uses: actions/checkout@v3

    - name: "generate release resources"
      run: make release-artifacts USER="os-observability"

    - name: "create the release in GitHub"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: ./.ci/create-release-github.sh
