name: "Release"
on:
  push:
    branches:
      - 'main'
    paths:
      - CHANGELOG.md

permissions: {}

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    outputs:
      operator_version: ${{ steps.operator-version.outputs.version }}
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        ref: main
        token: ${{ secrets.GITHUB_TOKEN }}
        persist-credentials: false

    - name: Determine operator version to release
      id: operator-version
      run: echo "version=$(grep -Eo '## [0-9]+\.[0-9]+\.[0-9]+' CHANGELOG.md | head -n 1 | awk '{print $2}')" >> "$GITHUB_OUTPUT"

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: "generate release resources"
      run: make release-artifacts
      env:
        IMG_PREFIX: ghcr.io/${{ github.repository }}

    - name: "create the release in GitHub"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        OPERATOR_VERSION: ${{ steps.operator-version.outputs.version }}
      run: |
        awk '/^## / {v=$2} v == "'${OPERATOR_VERSION}'" && !/^## / {print}' CHANGELOG.md > RELEASE_NOTES.md
        gh release create \
            -t "Release v${OPERATOR_VERSION}" \
            -F RELEASE_NOTES.md \
            "v${OPERATOR_VERSION}" \
            'dist/tempo-operator.yaml#Installation manifest for Kubernetes' \

  publish-images:
    needs: release
    uses: ./.github/workflows/reusable-publish-images.yaml
    permissions:
      packages: write # push container image
    with:
      publish_bundle: true
      version_tag: v${{ needs.release.outputs.operator_version }}
      push: true


  operator-hub-prod-release:
    needs: publish-images
    uses: ./.github/workflows/reusable-operator-hub-release.yaml
    with:
      org: redhat-openshift-ecosystem
      repo: community-operators-prod
      branch: ${{ github.event.pull_request.head.ref }}
      oprepo: ${{ github.repository }}
      bundletype: openshift
    secrets:
      TEMPOOPERATORBOT_GITHUB_TOKEN: ${{ secrets.TEMPOOPERATORBOT_GITHUB_TOKEN }}

  operator-hub-community-release:
    needs: publish-images
    uses: ./.github/workflows/reusable-operator-hub-release.yaml
    with:
      org: k8s-operatorhub
      repo: community-operators
      branch: ${{ github.event.pull_request.head.ref }}
      oprepo: ${{ github.repository }}
      bundletype: community
    secrets:
      TEMPOOPERATORBOT_GITHUB_TOKEN: ${{ secrets.TEMPOOPERATORBOT_GITHUB_TOKEN }}
