name: Reusable - Publish Operator Images

on:
  workflow_call:
    inputs:
      publish_bundle:
        type: boolean
        required: true
      version_tag:
        type: string
        required: true
      push:
        type: boolean
        required: true

permissions: {}

jobs:
  publish:
    name: Publish container images
    runs-on: ubuntu-22.04
    permissions:
      packages: write # push container image
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Describe the current state
        run: git describe --tags --always

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ github.repository }}/tempo-operator
          tags: |
            type=semver,pattern={{version}},value=${{ inputs.version_tag }}
            type=semver,pattern={{major}}.{{minor}},value=${{ inputs.version_tag }}
            type=semver,pattern={{raw}},value=${{ inputs.version_tag }}
            type=ref,event=branch

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to GitHub Package Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 #v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Operator image
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 #v6.19.1
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ inputs.push }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}

      - name: Publish operator bundle and catalog
        if: ${{ inputs.publish_bundle }}
        run: make bundle bundle-build bundle-push catalog-build catalog-push
        env:
          IMG_PREFIX: ghcr.io/${{ github.repository }}

      - name: Build and push must-gather image
        if: ${{ inputs.publish_bundle }}
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 #v6.19.1
        with:
          context: .
          file: ./cmd/gather/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/s390x,linux/ppc64le
          push: ${{ inputs.push }}
          tags: ghcr.io/${{ github.repository }}/must-gather:${{ inputs.version_tag }}
          labels: ${{ steps.docker_meta.outputs.labels }}
