name: Reusable - Create operator hub pull request

on:
  workflow_call:
    inputs:
      org:
        type: string
        required: true
      repo:
        type: string
        required: true
      branch:
        type: string
        required: true
      oprepo:
        type: string
        required: true
      bundletype:
        type: string
        required: true
    secrets:
      TEMPOOPERATORBOT_GITHUB_TOKEN:
        required: true

permissions: {}

jobs:
  create-operator-pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Sync fork
        env:
          GH_TOKEN: ${{ secrets.TEMPOOPERATORBOT_GITHUB_TOKEN }}
          ORG: ${{ inputs.org }}
          REPO: ${{ inputs.repo }}
        run: |
          # synchronizing the fork is fast, and avoids the need to fetch the full upstream repo
          # (fetching the upstream repo with "--depth 1" would lead to "shallow update not allowed"
          #  error when pushing back to the origin repo)
          gh repo sync tempooperatorbot/${REPO} \
              --source ${ORG}/${REPO} \
              --force

      - name: Checkout operatorhub repo
        uses: actions/checkout@v5
        with:
          repository: tempooperatorbot/${{ inputs.repo }}
          token: ${{ secrets.TEMPOOPERATORBOT_GITHUB_TOKEN }}
          persist-credentials: true

      - name: Checkout tempo-operator to tmp/ directory
        uses: actions/checkout@v5
        with:
          repository: ${{ inputs.oprepo }}
          token: ${{ secrets.TEMPOOPERATORBOT_GITHUB_TOKEN }}
          path: tmp/
          persist-credentials: false

      - name: Determine operator version to release
        id: operator-version
        run: echo "version=$(grep -Eo '## [0-9]+\.[0-9]+\.[0-9]+' tmp/CHANGELOG.md | head -n 1 | awk '{print $2}')" >> "$GITHUB_OUTPUT"

      - name: Update version
        env:
          VERSION: ${{ steps.operator-version.outputs.version }}
          BUNDLE_TYPE: ${{ inputs.bundletype }}
        run: |
          mkdir operators/tempo-operator/${VERSION}
          cp -R ./tmp/bundle/${BUNDLE_TYPE}/* operators/tempo-operator/${VERSION}
          rm -rf ./tmp

      - name: Use CLA approved github bot
        run: |
          git config user.name tempobot
          git config user.email 150731540+grafana@users.noreply.github.com

      - name: Create pull request against ${{ inputs.org }}/${{ inputs.repo }}
        env:
          VERSION: ${{ steps.operator-version.outputs.version }}
          GH_TOKEN: ${{ secrets.TEMPOOPERATORBOT_GITHUB_TOKEN }}
          ORG: ${{ inputs.org }}
          REPO: ${{ inputs.repo }}
        run: |
          message="Update the tempo to $VERSION"
          body="Release tempo-operator \`$VERSION\`.

          cc @pavolloffay @frzifus @andreasgerstmayr @rubenvp8510 @iblancasa
          "
          branch="update-tempo-operator-to-${VERSION}"

          # gh pr create doesn't have a way to explicitly specify different head and base
          # repositories currently, but it will implicitly pick up the head from a different
          # repository if you set up a tracking branch

          git checkout -b $branch
          git add -A
          git commit -s -m "$message"
          git push -f --set-upstream origin $branch
          gh pr create --title "$message" --body "$body" --repo ${ORG}/${REPO} --base main
